*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background: linear-gradient(135deg, #004d40, #1b2631, #0d0d0d);
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    width:380px;
    background:#1a1a1a;
    padding:30px;
    border-radius:20px;
    box-shadow:0 10px 25px rgba(0,0,0,0.5);
    text-align:center;
    border:2px solid #26a69a;
}

.container h1{
    margin-bottom:20px;
    color:#26a69a;
}

.search-box{
    display:flex;
    gap:10px;
    margin-bottom:20px;
}

.search-box input{
    flex:1;
    padding:12px;
    border:1px solid #26a69a;
    border-radius:8px;
    outline:none;
    background:#2c2c2c;
    color:white;
}

.search-box input::placeholder{
    color:#bdbdbd;
}

.search-box button{
    padding:12px 18px;
    background:#26a69a;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
    transition:0.3s;
}

.search-box button:hover{
    background:#00897b;
}

.weather-info h2{
    font-size:30px;
    color:white;
}

.weather-info img{
    width:100px;
    margin:10px 0;
}

.weather-info h1{
    font-size:55px;
    margin:10px 0;
    color:#26a69a;
}

.weather-info p{
    font-size:18px;
    margin:5px 0;
    color:#e0e0e0;
}